<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12 wrapper_main_table">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
					
					<form id="waterForm" class="form-inline" role="form" style="margin-top:15px;">
							
			               <div class="form-group">
			               	  <label>日期选择:</label>  
                              <input type="text" class="laydate-icon layer-date form-control" id="createTime"  name="createTime"  placeholder="请选择年月"
                               onclick="laydate({istime: true, format: 'YYYY-MM'})" style="background-color: #fff;width:120px;border-radius:5px;" readonly="readonly"/>
			               </div>
			               
			               
			                <div class="form-group" style="margin-left:10px;">	
							 	<label>用户地区：</label>
								<input id="userOrg" name="userOrg" value="" class="hidden" type="text">
								<input id="userOrgName" name="userOrgName" class="form-control" type="text" style="cursor: pointer;width:100px;border-radius:5px;"onclick="openDept()" readonly="readonly" placeholder="用户地区" value="">
						   </div>	
			               
			               
						   <div class="form-group" style="margin-left:10px;">	
							 	<label>交费类型：</label>
								<select data-placeholder="选择交费类型" name="userType" id="userType"
									class="form-control chosen-select" tabindex="2"
									style="width:100px;border-radius:5px;">
									<option value="">请选择</option>
								</select>
						   </div>	
						   
						   <div class="form-group" style="margin-left:10px;">	
							 	<label>水费类型：</label>
								<select data-placeholder="选择交费类型" name="waterType" id="waterType"
									class="form-control chosen-select" tabindex="2"
									style="width:100px;border-radius:5px;">
									<option value="">请选择</option>
								</select>
						   </div>	
						   
						   <div class="form-group" style="margin-left:10px;">		
						 		<label>用户编号:</label>  
							   	<input id="userId"  name="userId" class="form-control"  type="text" maxlength="7" style="width:100px;border-radius:5px;"/>
						   </div>	
							
							<input id="btnSubmit" class="btn btn-primary" type="button" value="用户查询" onclick = "reLoad(1);" style="margin-left:20px;" />
						    <input id="btnSubmit" class="btn btn-primary" type="button" value="欠费查询" onclick = "reLoad(2);"/>
						    <input id="btnSubmit" class="btn btn-primary" type="button" value="用户导出" onclick = "exprotWater();"/>
						    
						</form> 
						 
					</div> 
					
					
						
					<table id="waterTable" data-mobile-responsive="true" style="table-layout:fixed;width:2000px;">
					
					</table>
					
					
				</div>
			</div>
		</div>
	</div>
	

		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_add_h = 'hidden';
				var s_batchRemove_h = 'hidden';
			</script>
		</div>
		
		
		<div shiro:hasPermission="elec:elec:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="elec:elec:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		
		<div shiro:hasPermission="elec:elec:add">
			<script type="text/javascript">
				var s_add_h = '';
			</script>
		</div>
		
		<div shiro:hasPermission="elec:elec:batchRemove">
			<script type="text/javascript">
				var s_batchRemove_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/water/water/water.js"></script>
</body>
</html>