<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-2 control-label">用户编号:</label>
								<div class="col-sm-4">
									<input id="userId" name="userId" class="form-control"   maxlength="7"  type="text">
								</div>
								<label class="col-sm-2 control-label">用户姓名:</label>
								<div class="col-sm-4">
									<input id="userName" name="userName" class="form-control" maxlength="30"  type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">用户类型:</label>
								<div class="col-sm-4">
									<select data-placeholder="选择用户类型" name="userType" id="userType" class="form-control chosen-select" tabindex="2" required >
										<option value="">请选择</option>
									</select>
								</div>
								<label class="col-sm-2 control-label">用户归属:</label>
								<div class="col-sm-4">
									<input id="userOrg" name="userOrg" value="" class="hidden" type="text">
									<input id="userOrgName" name="userOrgName"
										class="form-control" type="text" style="cursor: pointer;"
										onclick="openDept()" readonly="readonly" placeholder="用户归属" value="">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">上月电表:</label>
								<div class="col-sm-4">
									<input id="start" name="start" class="form-control"  maxlength="6" type="text">
								</div>
								<label class="col-sm-2 control-label">本月电表:</label>
								<div class="col-sm-4">
									<input id="end" name="end" class="form-control"    maxlength="6"  type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">互感比:</label>
								<div class="col-sm-4">
									<input id="hu" name="hu" class="form-control digits:true"  maxlength="3"  type="text">
								</div>
								<label class="col-sm-2 control-label">用户电量:</label>
								<div class="col-sm-4">
									<input id="elecAmount" name="elecAmount" class="form-control" maxlength="6"  type="text">
								</div>
								
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">电费单价:</label>
								<div class="col-sm-4">
									<input id="elecPrice" name="elecPrice" class="form-control"  maxlength="5"  type="text">
								</div>
								<label class="col-sm-2 control-label">用户电费:</label>
								<div class="col-sm-4">
									<input id="elecCost" name="elecCost" class="form-control" maxlength="7"  type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">电费余额:</label>
								<div class="col-sm-4">
									<input id="elecSum" name="elecSum" class="form-control"  maxlength="7" type="text">
								</div>
								<label class="col-sm-2 control-label">电费缴费:</label>
								<div class="col-sm-4">
									<input id="elecMoney" name="elecMoney" class="form-control"  maxlength="7" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">暖费单价:</label>
								<div class="col-sm-4">
									<input id="heatPrice" name="heatPrice" class="form-control"  maxlength="3" type="text">
								</div>
								<label class="col-sm-2 control-label">取暖面积:</label>
								<div class="col-sm-4">
									<input id="heatArea" name="heatArea" class="form-control" maxlength="7" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">用户暖费:</label>
								<div class="col-sm-4">
									<input id="heatCost" name="heatCost" class="form-control" maxlength="8"  type="text">
								</div>
								<label class="col-sm-2 control-label">暖费余额:</label>
								<div class="col-sm-4">
									<input id="heatSum" name="heatSum" class="form-control" maxlength="9"  type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">暖费缴费:</label>
								<div class="col-sm-4">
									<input id="heatMoney" name="heatMoney" class="form-control" maxlength="7" type="text">
								</div>
								<label class="col-sm-2 control-label">水费单价:</label>
								<div class="col-sm-4">
									<input id="waterPrice" name="waterPrice" class="form-control" maxlength="3"  type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">用户水费:</label>
								<div class="col-sm-4">
									<input id="waterCost" name="waterCost" class="form-control" maxlength="3"  type="text">
								</div>
								<label class="col-sm-2 control-label">水费余额:</label>
								<div class="col-sm-4">
									<input id="waterSum" name="waterSum" class="form-control" maxlength="7"  type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">水费缴费:</label>
								<div class="col-sm-4">
									<input id="waterMoney" name="waterMoney" class="form-control" maxlength="3"  type="text">
								</div>
								<label class="col-sm-2 control-label">收取日期:</label>
								<div class="col-sm-4">
								  <input type="text" class="laydate-icon layer-date form-control" id="createTime" name="createTime"  th:value="${createTime}" placeholder="请选择年月"
                              	   onclick="laydate({istime: true, format: 'YYYY-MM'})" style="background-color: #fff;width:100%;" readonly="readonly"/>
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">打印日期:</label>
								<div class="col-sm-4">
									 <input type="text" class="laydate-icon layer-date form-control" id="printDate" name="printDate"  th:value="${printDate}" placeholder="请选择年月日"
                              		 onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" style="background-color: #fff;width:100%;" readonly="readonly"/>
								</div>
								<label class="col-sm-2 control-label">备注:</label>
								<div class="col-sm-4">
										<textarea id="remark" name="remark" maxlength="100" class="input-xlarge" rows="3" style="width:100%;border-radius:5px;"></textarea>
								</div>
							</div>
							
							
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/print/print/add.js">
	</script>
</body>
</html>
