<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.water.dao.WaterUpLoadDao">

	<sql id="all_Water_columns">
			`id`,
			`user_id`,  
			`user_name`, 
			`user_type`, 
			`user_org`, 
			`user_tell`, 
			`user_state`, 
			`wages_id`, 
			`water_type`, 
			`water_price`, 
			`water_cost`, 
			`water_sum`, 
			`create_time`, 
			`create_by`, 
			`update_time`, 
			`update_by`, 
			`remark`
	</sql>
	 
	 

	
	<update id="updateWater" parameterType="com.bootdo.water.domain.WaterDO">
		update  water  set  createTime = #{createTime}, water_sum = water_sum - water_cost
	</update>

	<!--暖费生成-->
	<select id="getAllWaterById"  resultType="com.bootdo.water.domain.WaterDO">
		SELECT
		<include refid="all_Water_columns"></include>
		FROM WATER
		<where>
			<if test="createTime != null and createTime != '' ">
				and create_time = #{createTime}
			</if>
			<if test="userOrg != null and userOrg != ''">
				and user_org = #{userOrg}
			</if>
		</where>
	</select>
	<!--查询用户编号相同-->
	<select id="getEqualUserId"  resultType="java.lang.Integer">
		SELECT count(*)
		FROM WATER he
		<where>
			he.user_id = #{userId}
		</where>
	</select>

</mapper>