<!DOCTYPE html>

<html>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<title>59集团时钟</title>
	<script src="/js/jquery.min.js?v=2.1.4"></script>
	<script src="/highcharts/highcharts.js"></script>
	<script src="/highcharts/highcharts-more.js"></script>
	<script src="/highcharts/modules/exporting.js"></script>
	<script src="/highcharts/themes/sand-signika.js"></script>
</head>

<body>


	<div id="container" style="width:100%; height:300px;margin:50px auto;"></div>
	<script type="text/javascript" src="/js/appjs/sysutils/time.js"></script>
	

</body>
</html>