<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header">

</head>
<style type="text/css">
    #tableBox1{margin:30px auto;} 
	#tableBox1 tr td{width:100px;height:50px;ling-height:50px;text-align:center;}

    #tableBox2{margin:30px auto;} 
	#tableBox2 tr td{width:100px;height:50px;ling-height:50px;text-align:center;}
</style>

<body class="gray-bg">

	<div class="wrapper wrapper-content ">
	
		<div class="col-sm-12 wrapper_main_table">
		
			<div class="ibox">
			
				<div class="ibox-body">
				
				<div class="fixed-table-toolbar"> 
					

			       <div class="gg-nav">
                        <ul class="nav nav-tabs">
                            <li><a href="/charts/tableElecYY">电年统计表格</a></li>
                            <li><a href="/charts/tableHeatYY">暖年统计表格</a></li>
                            <li class="active"><a href="/charts/tableWaterYY">水年统计表格</a></li>
                        </ul>
                    </div>
					
					
					
					<form id="tableWaterYYForm" class="form-inline" role="form" style="margin-top:20px;">
							
			              <div class="form-group">
			               	  <label>日期选择：</label>  
                              <input type="text" class="laydate-icon layer-date form-control" id="createTime" name="createTime"  placeholder="请选择年"
                               onclick="laydate({istime: true, format: 'YYYY'})" style="background-color: #fff;width:100px;border-radius:5px;" readonly="readonly"/>
			               </div>
			               
						   
						   <div class="form-group" style="margin-left:10px;">	
							 	<label>用户地区：</label>
								<input id="userOrg" name="userOrg" value="" class="hidden" type="text">
								<input id="userOrgName" name="userOrgName" class="form-control" type="text" style="cursor: pointer;width:100px;border-radius:5px;"onclick="openDept()" readonly="readonly" placeholder="用户地区" value="">
						   </div>	
						   
						
						   <div class="form-group" style="margin-left:10px;">	
							 	<label>交费方式：</label>
								<select data-placeholder="选择交费类型" name="userType" id="userType"
									class="form-control chosen-select" tabindex="2"
									style="width:100px;border-radius:5px;">
									<option value="">请选择</option>
								</select>
						   </div>	
						  
						  <div class="form-group" style="margin-left:10px;">	
							 	<label>水费类型：</label>
								<select data-placeholder="选择 水费类型" name="waterType" id="waterType"
									class="form-control chosen-select" tabindex="2"
									style="width:100px;border-radius:5px;">
									<option value="">请选择</option>
								</select>
						   </div>	
						   
						   <div class="form-group" style="margin-left:5px;">		
						 		<label>用户编号 ：</label>  
							   	<input id="userId"  name="userId" class="form-control"  type="text" maxlength="7" style="width:100px;border-radius:5px;"/>
						   </div>	
						   
				 		   <input id="moneyBtn" class="btn btn-primary" type="button" value="统计"  onclick = "tableWaterYY();" style="margin-left:10px;"/>
						   <input id="moneyBtn" class="btn btn-primary" type="button" value="下载"  onclick = "dowloadWaterYY();"/>
						   <button class="btn btn-primary" type="button" id="printWater">打印</button>
						   <input id="moneyBtn" class="btn btn-primary" type="button" value="明细"  onclick = "exportWaterYY();"/>
					</form> 


				 <div id="box1" class='box1'>
					<table  id="tableBox1" class="table-hover" border = "1">
					
						 <tr>
						 	<td colspan="12">水年统计报表</td>
						 </tr>
						 
						 <tr>
						 	<td>水费</td><td colspan="10">各项明细</td>
						 </tr>
						 
						
              		 	 <tr>
              		 	 	<td rowspan="2" style="width:50px;">类别</td>
                    		<td colspan="3">年初余额(元)</td>
                    		<td rowspan="2">水费单价(元)</td>
        				    <td rowspan="2">累计应收(元)</td>
        				    <td rowspan="2">累计实收(元)</td>
        				    <td colspan="3">期末余额(元)</td>
               			 </tr>
               			 
               			 
             		     <tr>
		                   <td>预存</td>
		                   <td>欠费</td>
		                   <td>合计</td>
		                   <td>预存</td>
		                   <td>欠费</td>
		                   <td>合计</td>
		     
				  		 </tr>	 
				  		 
				  		 <tr>
						   <td>民用水</td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
				  		 </tr>	
				  		 
				         <tr>
				  	       <td>商业水</td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
				  		 </tr>	
				  		 
				  		 
				  	    <tr>
				  	       <td>合计</td>
			               <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
		                   <td></td>
				  		 </tr>
				  		 
	
		  		 			 
						 <tr>
						 	<td colspan="12">实收总额: 元</td>
						 </tr>
			
					</table>
					</div>
					
					
					
					
					
					
				 <div id="box2" class='box2' style="display: none">
					<table  id="tableBox2" class="table-hover" border = "1">
					
						 <tr id="title">
						 </tr>
						 
						 <tr>
						 	<td>水费</td><td colspan="10">各项明细</td>
						 </tr>
						 
						
              		 	 <tr>
              		 	 	<td rowspan="2">类别</td>
                    		<td colspan="3">年初余额(元)</td>
                    		<td rowspan="2">水费单价(元)</td>
        				    <td rowspan="2">累计应收(元)</td>
        				    <td rowspan="2">累计实收(元)</td>
        				    <td colspan="3">期末余额(元)</td>
               			 </tr>
               			 
               			 
             		     <tr>
		                   <td>预存</td>
		                   <td>欠费</td>
		                   <td>合计</td>
		                   <td>预存</td>
		                   <td>欠费</td>
		                   <td>合计</td>
				  		 </tr>	 
				  		 
				  		 
				  		 <tr id="Mwater">
				  		 </tr>	
				  		 
				  		 
				         <tr id="S1water">
				  		 </tr>

						 <tr id="S2water">
						 </tr>

						 <tr id="S3water">
						 </tr>
				  		 
				  		 
				  	     <tr id="Count">
				  		 </tr>
				  		 
		  		 			 
						 <tr id="footer">
						 </tr>
			
			
					</table>
					</div>
					
					
					
					
					
				
			</div>
		</div>
	</div>
	
	<div th:include="include :: footer"></div>
	
	<object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA"width=0 height=0>
		<embed id="LODOP_EM" type="application/x-print-lodop"width=0 height=0></embed>
	</object>
	
	
	<script type="text/javascript" src="/js/appjs/charts/tableWaterYY.js"></script>
</body>
</html>