<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head th:include="include :: header">

</head>


<body class="gray-bg">


	<div class="wrapper wrapper-content ">
	
		<div class="col-sm-12 wrapper_main_table">
		
			<div class="ibox">
			
				<div class="ibox-body">
				
				<div class="fixed-table-toolbar"> 
					
									
                    <div class="gg-nav">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="/moneyLog/elecLog">电交费记录</a></li>
                            <li><a href="/moneyLog/heatLog">暖交费记录</a></li>
                            <li><a href="/moneyLog/waterLog">水交费记录</a></li>
                        </ul>
                    </div>
     
             
             
					<form id="elecLogForm" class="form-inline" role="form" style="margin-top:15px;">
							
				           <div class="form-group">
			               	  <label>日期选择:</label>  
                              <input type="text" class="laydate-icon layer-date form-control" id="moneyDate"  name="moneyDate" placeholder="请选择年月日"
                               onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" style="background-color: #fff;width:120px;border-radius:5px;" readonly="readonly"/>
			               </div>
			               
						   
						   <div class="form-group">	
							 	<label>用户地区：</label>
								<input id="userOrg" name="userOrg" value="" class="hidden" type="text">
								<input id="userOrgName" name="userOrgName" class="form-control" type="text" style="cursor: pointer;width:100px;border-radius:5px;"onclick="openDept()" readonly="readonly" placeholder="用户地区" value="">
						   </div>	
						   
						   <div class="form-group">	
							 	<label>缴费方式：</label>
								<select data-placeholder="选择交费类型" name="userType" id="userType"
									class="form-control chosen-select" tabindex="2"
									style="width:100px;border-radius:5px;">
									<option value="">请选择</option>
								</select>
						   </div>	
						   
						   <div class="form-group">	
							 	<label>电费类型：</label>
								<select data-placeholder="选择电费类型" name="elecType" id="elecType"
									class="form-control chosen-select" tabindex="2"
									style="width:100px;border-radius:5px;">
									<option value="">请选择</option>
								</select>
						   </div>	
						   
						   
						   <div class="form-group">		
						 		<label>用户编号:</label>  
							   	<input id="userId"  name="userId" class="form-control"  type="text" maxlength="7" style="width:100px;border-radius:5px;"/>
						   </div>	
						   
							<input id="btnSubmit" class="btn btn-primary" type="button" value="用户查询"   onclick = "reLoad();" style="margin-left:10px;" />
							<input id="btnSubmit" class="btn btn-primary" type="button" value="导出明细"   onclick = "exprotElecLog();"  />

					</form> 
						 
				</div> 
					
		
					<table id="elecLogTable" data-mobile-responsive="true">
						<!-- 	style="table-layout:fixed;width:3000px;" -->
					
					</table>
					
					
				</div>
			</div>
		</div>
	</div>


	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_add_h = 'hidden';
				var s_batchRemove_h = 'hidden';
			</script>
		</div>
		
		
		<div shiro:hasPermission="elec:elec:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="elec:elec:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		
		<div shiro:hasPermission="elec:elec:add">
			<script type="text/javascript">
				var s_add_h = '';
			</script>
		</div>
		
		<div shiro:hasPermission="elec:elec:batchRemove">
			<script type="text/javascript">
				var s_batchRemove_h = '';
			</script>
		</div>
	</div>
		
		
		

	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/moneyLog/elecLog/elecLog.js"></script>
</body>
</html>