<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.heat.dao.HeatDao">

	<sql id="all_Heat_columns">
		select `id`,`user_id`,`user_name`,`user_type`,`user_org`,(SELECT  t.`name`  FROM sys_dept  t WHERE t.`dept_id` = `user_org`) AS userOrgName,`user_tell`,`user_state`,`wages_id`,`heat_type`,`heat_price`,`heat_area`,`heat_cost`,`heat_sum`,`create_time`,`create_by`,`update_time`,`update_by`,`remark` from heat
	</sql>
	
	<sql id="query_Count_sql_where">
	  <if test="createTime != null and createTime != ''"> and `create_time` = #{createTime}</if>
	  <if test="userType != null and userType != ''"> and user_type = #{userType} </if>
	  <if test="heatType != null and heatType != ''"> and heat_type = #{heatType} </if>
	  <if test="userOrg != null and userOrg != ''"> and user_org = #{userOrg} </if>
	  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
	</sql>


	<sql id="query_Owe_sql_where">
	    `heat_sum`   &lt; 0
		<include refid="query_Count_sql_where"></include>
 	</sql>

	<sql id="query_CountYY_sql_where">
	  <if test="userType != null and userType != ''"> and user_type = #{userType} </if>
	  <if test="heatType != null and heatType != ''"> and heat_type = #{heatType} </if>
	  <if test="userOrg != null and userOrg != ''"> and user_org = #{userOrg} </if>
	  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
	</sql>



	<!--查询上个的日期条件-->
	<sql id="query_last_month">
		<if test="createTime != null and createTime != ''">
		and PERIOD_DIFF( date_format(CONCAT(#{createTime},-01) , '%Y%m' ) , date_format( CONCAT(create_time,"-01"), '%Y%m' ) ) =1
		</if>
		<include refid="query_CountYY_sql_where"></include>
	</sql>





	<select id="get" resultType="com.bootdo.heat.vo.HeatVo">
		 <include refid="all_Heat_columns"></include>
		 where id = #{value}
	</select>
	
	
	
	<select id="exprotHeat"  resultType="com.bootdo.heat.vo.HeatVo">
	    <include refid="all_Heat_columns"></include>
    	<where>
		    <include refid="query_Count_sql_where"></include>
	   </where>	  
	</select>
	
	<select id="exprotHeatPre"  resultType="com.bootdo.heat.vo.HeatVo">
	    <include refid="all_Heat_columns"></include>
    	<where>
    	    `heat_sum`   &gt;= 0
		    <include refid="query_Count_sql_where"></include>
	   </where>	  
	</select>
	
	
	
	<select id="exprotHeatPreYY"  resultType="com.bootdo.heat.vo.HeatVo">
	    <include refid="all_Heat_columns"></include>
    	<where>
    	    `heat_sum`   &gt;= 0
    	    <if test="createTime != null and createTime != ''"> and `create_time`   LIKE CONCAT('%',#{createTime},'%')</if>
		    <include refid="query_CountYY_sql_where"></include>
	   </where>	  
	    order by create_time asc
	</select>
	
	
	
	<select id="exprotHeatOwe"  resultType="com.bootdo.heat.vo.HeatVo">
	    <include refid="all_Heat_columns"></include>
    	<where>
		    <include refid="query_Owe_sql_where"></include>
	   </where>	  
	</select>



	<select id="exprotHeatOweYY"  resultType="com.bootdo.heat.vo.HeatVo">
	    <include refid="all_Heat_columns"></include>
	    
    	 <where>
    	    `heat_sum`   &lt; 0
    	    <if test="createTime != null and createTime != ''"> and `create_time`   LIKE CONCAT('%',#{createTime},'%')</if>
		    <include refid="query_CountYY_sql_where"></include>
    	 </where>	
  		 order by create_time asc
	</select>




	<select id="list" resultType="com.bootdo.heat.vo.HeatVo">
	 	<include refid="all_Heat_columns"></include>
        <where>  
    
			<if test='queryType !=null and queryType == "2"'>
	            and  `heat_sum`   &lt; 0
	        </if>
			<include refid="query_Count_sql_where"></include>
			
	   </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id asc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from heat
		 <where>  
		 	<if test='queryType !=null and queryType == "2"'>
	            and  `heat_sum`   &lt; 0
	        </if>
			<include refid="query_Count_sql_where"></include>
		 </where>
	</select>
	 
	 
	 
	 
	<insert id="save" parameterType="com.bootdo.heat.domain.HeatDO" useGeneratedKeys="true" keyProperty="id">
		insert into heat
		(
			`user_id`, 
			`user_name`, 
			`user_type`, 
			`user_org`, 
			`user_tell`, 
			`user_state`, 
			`wages_id`, 
			`heat_type`, 
			`heat_price`, 
			`heat_area`, 
			`heat_cost`, 
			`heat_sum`, 
			`create_time`, 
			`create_by`, 
			`update_time`, 
			`update_by`, 
			`remark`
		)
		values
		(
			#{userId}, 
			#{userName}, 
			#{userType}, 
			#{userOrg}, 
			#{userTell}, 
			#{userState}, 
			#{wagesId}, 
			#{heatType}, 
			#{heatPrice}, 
			#{heatArea}, 
			#{heatCost}, 
			#{heatSum}, 
			#{createTime}, 
			#{createBy}, 
			#{updateTime}, 
			#{updateBy}, 
			#{remark}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.heat.domain.HeatDO">
		update heat 
		<set>
		
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="userName != null">`user_name` = #{userName}, </if>
			<if test="userType != null">`user_type` = #{userType}, </if>
			<if test="userOrg != null">`user_org` = #{userOrg}, </if>
			<if test="userTell != null">`user_tell` = #{userTell}, </if>
			<if test="userState != null">`user_state` = #{userState}, </if>
			<if test="wagesId != null">`wages_id` = #{wagesId}, </if>
			<if test="heatType != null">`heat_type` = #{heatType}, </if>
			<if test="heatPrice != null">`heat_price` = #{heatPrice}, </if>
			<if test="heatArea != null">`heat_area` = #{heatArea}, </if>
			<if test="heatCost != null">`heat_cost` = #{heatCost}, </if>
			<if test="heatSum != null">`heat_sum` = #{heatSum}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="remark != null">`remark` = #{remark}</if>
			
		</set>
		where id = #{id}
	</update>
	
	<update id="updateState" parameterType="com.bootdo.heat.domain.HeatDO">
		update heat  set  `heat_cost` = 0  where id = #{id}
	</update>
	
	<delete id="remove">
		delete from heat where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from heat where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>


<!-- 欠费统计  start -->
	<select id="HeatCountOwe"  resultType="int">
	    SELECT COUNT(ID) FROM HEAT
	      <where>  
		  	<include refid="query_Owe_sql_where"></include>
		 </where>
	</select>  

 	<select id="HeatSumOwe"  resultType="java.math.BigDecimal">
	   SELECT SUM(HEAT_SUM) FROM HEAT
	      <where>  
		  	<include refid="query_Owe_sql_where"></include>
		 </where>
	</select>  
<!-- 欠费统计  end	 -->
	
	

<!-- 月统计表格  start	 -->	

	<select id="PreHeatCountMMOld"  resultType="int">
		select  COUNT(*) from heat
		<where>
			`heat_sum`   &gt;=  0
			<include refid="query_last_month"></include>
		</where>
	</select>
	<select id="PreHeatSumMMOld"  resultType="java.math.BigDecimal">
		select  ifnull(SUM(heat_sum),0) from heat
		<where>
			`heat_sum`   &gt;=  0
			<include refid="query_last_month"></include>
		</where>
	</select>
	<select id="OweHeatCountMMOld"  resultType="int">
		select  COUNT(*) from heat
		<where>
			heat_sum &lt;0
			<include refid="query_last_month"></include>
		</where>
	</select>
	<select id="OweHeatSumMMOld"  resultType="java.math.BigDecimal">
		select  ifnull(SUM(heat_sum),0) from heat
		<where>
			heat_sum &lt;0
			<include refid="query_last_month"></include>
		</where>
	</select>
	
	


	<select id="HeatAreaMM"  resultType="java.math.BigDecimal">
		select ifnull(SUM(heat_area),0) from heat
		<where>
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	
	
	<!--应收-->
	<select id="HeatCostMMCount"  resultType="int">
		select COUNT(ID) from heat
		<where>
			<if test="userState != null">`user_state` = 1 </if>
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	<select id="HeatCostMMSum"  resultType="java.math.BigDecimal">
		select ifnull(SUM(heat_cost),0) from heat
		<where>
		    <if test="userState != null">`user_state` = 1 </if>
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	
	
	
	<!--实收-->
	<select id="HeatLogMMCount"  resultType="int">
		select COUNT(ID) from heat_log
		<where>
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	<select id="HeatLogMMSum"  resultType="java.math.BigDecimal">
		select ifnull(SUM(heat_money),0) from heat_log
		<where>
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	
	
	
	
	
	<select id="PreHeatCountMMNew"  resultType="int">
		select  COUNT(ID) from heat
		<where>
			`heat_sum`   &gt;=  0
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	<select id="PreHeatSumMMNew"  resultType="java.math.BigDecimal">
		select  ifnull(SUM(heat_sum),0) from heat
		<where>
			`heat_sum`   &gt;=  0
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	
	
	<select id="OweHeatCountMMNew"  resultType="int">
		select  COUNT(ID) from heat
		<where>
			heat_sum &lt;0
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	<select id="OweHeatSumMMNew"  resultType="java.math.BigDecimal">
		select  ifnull(SUM(heat_sum),0) from heat
		<where>
			heat_sum &lt;0
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	
	
	
<!-- 月统计表格  end	 -->




<!-- 年统计表格  start	 -->
	

	<sql id="query_newdate_sql_where">
	       <if test="createTime != null and createTime != ''"> and `create_time`   LIKE CONCAT('%',#{createTime},'%')</if> 
	<!-- 	<if test="createTime != null and createTime != ''"> and DATE_FORMAT(CONCAT(create_time,'-01'),'%Y') = #{createTime}</if>  -->
		<include refid="query_CountYY_sql_where"></include>
	</sql>


	<sql id="query_newdatemax_sql_where">
    	<if test="createTime != null and createTime != ''"> and create_time = (select MAX(create_time) from heat where DATE_FORMAT(CONCAT(create_time,'-01'),'%Y') = #{createTime})</if> 
		<include refid="query_CountYY_sql_where"></include>
	</sql>






	<!--年初预存-->
	<select id="PreHeatCountYYOld"  resultType="int">
		select  COUNT(*) from heat
		<where>
			`heat_sum`   &gt;=  0
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	<select id="PreHeatSumYYOld"  resultType="java.math.BigDecimal">
		select  ifnull(SUM(heat_sum),0) from heat
		<where>
			`heat_sum`   &gt;=  0
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	
	
	
	
	
	<!--年初欠款-->
	<select id="OweHeatCountYYOld"  resultType="int">
		select  COUNT(*) from heat
		<where>
			heat_sum &lt;0
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	<select id="OweHeatSumYYOld"  resultType="java.math.BigDecimal">
		select  ifnull(SUM(heat_sum),0) from heat
		<where>
			heat_sum &lt;0
			<include refid="query_Count_sql_where"></include>
		</where>
	</select>
	
	
	<select id="HeatPrice"  resultType="com.bootdo.heat.domain.HeatPriceDO">
		select m_heat,s_heat,gm_heat,gs_heat,heat_org from heat_price
	</select>


	<select id="HeatAreaYY"  resultType="java.math.BigDecimal">
		select ifnull(SUM(heat_area),0) from heat
		<where>
			<include refid="query_newdate_sql_where"></include>
		</where>
	</select>
	
	
	<!--应收-->
	<select id="HeatCostYYCount"  resultType="int">
		select COUNT(ID) from heat
		<where>
		    <if test="userState != null">`user_state` = 1 </if>
			<include refid="query_newdate_sql_where"></include>
		</where>
	</select>
	<select id="HeatCostYYSum"  resultType="java.math.BigDecimal">
		select ifnull(SUM(heat_cost),0) from heat
		<where>
	    	<if test="userState != null">`user_state` = 1 </if>
			<include refid="query_newdate_sql_where"></include>
		</where>
	</select>
	
	
	
	
	<!--实收-->
	<select id="HeatLogYYCount"  resultType="int">
		select COUNT(ID) from heat_log
		<where>
			<include refid="query_newdate_sql_where"></include>
		</where>
	</select>
	<select id="HeatLogYYSum"  resultType="java.math.BigDecimal">
		select ifnull(SUM(heat_money),0) from heat_log
		<where>
			<include refid="query_newdate_sql_where"></include>
		</where>
	</select>
	
	
	
	
	
	<!--期末预存-->
	<select id="PreHeatCountYYNew"  resultType="int">
		select  COUNT(ID) from heat
		<where>
			`heat_sum`   &gt;=  0
			<include refid="query_newdatemax_sql_where"></include>
		</where>
	</select>
	<select id="PreHeatSumYYNew"  resultType="java.math.BigDecimal">
		select  ifnull(SUM(heat_sum),0) from heat
		<where>
			`heat_sum`   &gt;=  0
			<include refid="query_newdatemax_sql_where"></include>
		</where>
	</select>
	<!--期末欠款-->
	<select id="OweHeatCountYYNew"  resultType="int">
		select  COUNT(ID) from heat
		<where>
			heat_sum &lt;0
			<include refid="query_newdatemax_sql_where"></include>
		</where>
	</select>
	<select id="OweHeatSumYYNew"  resultType="java.math.BigDecimal">
		select  ifnull(SUM(heat_sum),0) from heat
		<where>
			heat_sum &lt;0
			<include refid="query_newdatemax_sql_where"></include>
		</where>
	</select>
	
<!-- 年统计表格 end   -->


</mapper>